body {
    background-image: url(./customer/view/img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    height: 400px;
    align-items: center;
}
.container .admin {
    margin: 0 200px;
    padding: 20px 30px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
}
.container .admin a {
    color: white;
    text-decoration: none;
}
.container .customer {
    margin: 0 200px;
    padding: 20px 30px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
}
.container .customer a {
    color: white;
    text-decoration: none;
}