body {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* header  */

header .container {
  height: 15vh;
  align-items: center;
  color: white;
}
.container .logo {
  margin-right: 80px;
}
.container .admin {
  text-align: center;
  margin-right: 50px;
}
.container .admin i {
  font-size: 25px;
  margin-top: 10px;
}
.container .admin p {
  font-weight: 500;
}
.container .admin a {
  text-decoration: none;
  color: white;
}
.container .storage {
  text-align: center;
  margin-right: 600px;
}
.container .storage i {
  font-size: 25px;
  margin-top: 10px;
}
.container .storage p {
  font-weight: 500;
}
.container .cart {
  text-align: center;
}
.container .cart i {
  font-size: 25px;
  margin-top: 10px;
}
.container .cart p {
  font-weight: 500;
}
/* CAROUSEL  */
.carousel__content {
  position: absolute;
  top: 35%;
  left: 12%;
  z-index: 1;
  width: 100%;
}
.carousel__content h5 {
  color: #fbbd61;
  font-size: 16px;
  letter-spacing: 2px;
}
.carousel__content h2 {
  color: white;
  font-size: 50px;
}
.carousel__content p {
  color: white;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.carousel__content .content__bottom p {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  font-size: 14px;
  margin-right: 10px;
}
.carousel__content .content__bottom button {
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}
.carousel__content .content__bottom button a {
  color: white;
  letter-spacing: 2.5px;
}
.carousel img {
  height: 80vh;
  object-fit: cover;
}
/* product  */
.phone_List {
  display: inline;
}
.card {
  border: 2px solid #fbbd61;
  border-radius: 5px;
  margin-top: 30px;
  width: 100px;
}
.card .overlay {
  opacity: 1;
}
/* cart  */
.cart {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.cart h2 {
  margin-bottom: 50px;
}
.cart table {
  width: 100%;
}
.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tr td {
  border-bottom: 1px solid #ddd;
  padding: 18px 0;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
