.navbar-brand {
  font-size: 35px;
}
.nav-item {
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
}



.form-group label {
  margin-bottom: 0;
}
.filter {
  margin: 0;
}
.tab-content {
  display: none;
}

// loading

.loader {
  z-index: 1111;
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-text {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  align-self: center;
}

.loader-bar {
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  animation: loader-bar-animation 2s ease-in-out infinite;
}

@keyframes loader-bar-animation {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

option {
  background-color: #fff;
  color: #333;
}
